<div class="bottom-left">
    {{ if .IsHome }}
    <a href="/"><img src="/images/cropped-trans-logo-white.png" class="dn dib-ns w-40 z-max" id="sticky-this" alt="Carlos Mata Architecture"></a>
    {{ else }}
    <a href="/"><img src="/images/cropped-trans-logo.png" class="dn dib-ns w-40 z-max" id="sticky-this" alt="Carlos Mata Architecture"></a>
    {{ end }}
  </div> 