{{ define "main" }}
{{ if .Params.featured_image }}
<div>
    <div class="bg-white">
      <div class="overlay-container">
          <div class="w-100 vh-75-ns contain bg-center htc" style="opacity:1; background-image:  linear-gradient(to bottom,rgba(0,0,0, 0), rgba(0,0,0, 0)),url({{- .Params.featured_image -}});"></div>
      </div>
    </div>
</div>
{{ end }}
<article class="cf pa0 pr2 pa4-ns {{ if .Params.featured_image }}pt4-ns{{ else }}pt6-ns{{ end }} tc w-90 w-60-ns m0a light-section page_width" >
  <article class="bg-white">
      <div class="pt5 pv5-ns f4 f2-ns measure center tc">
        <h1 class="fw4 f2 ttu tracked fl black-80 mt0 mb3 avenir tc w-100">{{ .Title }}</h1>
        <div class="avenir db lh-copy black serif fw1 mv0 f3 measure tj center">
            {{ .Content }}
        </div>
        <br>
        {{ if .Params.team_member }}
          <h1 class="fw4 f2 ttu tracked fl black-80 mt0 mb3 avenir tc w-100">Team Members</h1>
          {{ range .Params.team_member }}
            <div class="fl w-100 w-100-m w-50-l ph3">
              <img src="{{- .photo -}}">
              <h4 class="f3 fw2">{{ .name }}</h4>
              <p class="f5 pb3">{{ .description }}</p>
            </div>
          {{ end }}
        {{ end }}
      </div>
  </article>
</article>
{{ end }}
