/* Put your custom styles here and run `npm start` from the "src" directory on */

body {
  font-size: 25px;
}

#TableOfContents ul li {
  margin-bottom: 1em;
}

/* @font-face {
  font-family: "Avenir Next";
  src: url('/static/fonts/AvenirNext-Regular.woff2') format('woff2'),
      url('/static/fonts/AvenirNext-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
} */

@font-face {
  font-family: 'Futura';
  src: url('/static/fonts/Futura-Bold.woff2') format('woff2'),
      url('/static/fonts/Futura-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Futura';
  src: url('/fonts/Futura-Medium.woff2') format('woff2'),
      url('/fonts/Futura-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Futura';
  src: url('/fonts/Futura-Medium.woff2') format('woff2'),
      url('/fonts/Futura-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Futura';
  src: url('/fonts/Futura-Light.woff2') format('woff2'),
      url('/fonts/Futura-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Futura';
  src: url('/fonts/Futura-Bold.woff2') format('woff2'),
      url('/fonts/Futura-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next';
  src: url('/fonts/AvenirNext-Regular.woff2') format('woff2'),
      url('/fonts/AvenirNext-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Futura', sans-serif;
  font-weight: 300;
}

.avenir {
  font-family: 'Futura', sans-serif !important;
} 


.height-250 {
  height: 250px;
}

.padding-5ish {
  padding-top: 4rem;
}

@media (--breakpoint-not-small) {
  .htc {
    display:flex;
    justify-content:center;
    align-items:center;
  }
  .white-text {
    color: white !important;
  }
  .contain {
    background-size: cover !important;
  }
  .padding-5ish {
    padding-top: 0px;
  }
  .height-250 {
    height: 100vh;
  }
  .mobile-logo {
    display: none;
  }
}

/* .fix-grid-item:nth-child(1) {
  width: 100% !important;
}
.fix-grid-item:nth-child(4n) {
  width: 100% !important;
} */

.w-15 {
  width: 15%;
}

.overlay-container {
  position: relative;
  text-align: left;
  color: black;
}

.overlay-image {
  opacity: 0.5;
}

.bottom-right {
  position: fixed;
  bottom: 25px;
  right: 25px;
  z-index: 9999999999;
}


#sticky-this {
  padding-top: 15px;
  transition: all .3s ease-in-out;
  position: fixed;
  top: 20px;
  left: 35px;
}

.side-sticky {
  padding-top: 40px;
}

.small-sticky {
  width: 25% !important;
}

.darken {
  filter: brightness(100%);
  -webkit-filter: brightness(100%);
}

.darken:hover {
  -webkit-filter: brightness(60%);
  filter: brightness(60%);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

.prev, .next {
  bottom: 45%;
}

/* Slideout Stuff */
body {
  width: 100%;
  height: 100%;
}

.slideout-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 256px;
  min-height: 100vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  z-index: 0;
  display: none;
}

.slideout-menu-left {
  left: 0;
}

.slideout-menu-right {
  right: 0;
}

.slideout-panel {
  /* position: relative; */
  z-index: 1;
  /* will-change: transform; */
  background-color: #FFF; /* A background-color is required */
  min-height: 100vh;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}

.slideout-open .slideout-menu {
  display: block;
}

.toggle-button-home {
  color: white;
  font-size: 1.6rem;
}

.toggle-button {
  color: #464644;
  font-size: 1.6rem;
}


/* Midnight JS Tweaks */
.dark-text a {
  color: rgba(0, 0, 0, .8);
}
.light-text a {
  color: white;
}

.home-template .toggle-button {
  color: white;
}

.m0a {
  margin: 0px auto;
}

/* Uniform Page Width */
.page_width {
  max-width: 1000px;
  margin: 0px auto;
}

.jt {
  text-align: justify;
  text-justify: inter-word;
}

/* Lightbox */
.lg-backdrop {
  z-index: 999999999999;
}
.lg-outer {
  z-index: 9999999999999;
}

.lg-outer .lg-thumb {
  margin: 0px auto;
  text-align: center;
}

.lg-outer .lg-thumb-item {
  border-radius: 0;
  border-width: 1px;
}
.lg-outer .lg-thumb-item.active, .lg-outer .lg-thumb-item:hover {
  border-color: black;
}

.grid_height {
  height: 300px;
}
@media (--breakpoint-not-small) {
  .grid_height {
    height: 415px;
  }
}


.master_logo {
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.scrolled {
  background: white;
  padding-top: 10px;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  padding-bottom: 10px;
}

.scrolled img {
  width: 70%;
}

.thumb {
  height: 200px;
  object-fit: cover;
}

.thumb .cover {
  object-fit: cover;
  height: 100%;
  width: 100%;
}