{{ define "main" }}
<div class="padding-5ish" data-midnight="light">
    <div class="bg-white">
      <div class="overlay-container">
          {{ $vcl := "https://res.cloudinary.com/dpoitlxyq/image/upload" }}
          {{ $pth := .Params.project_featured_image | strings.TrimLeft $vcl }}
          <div class="height-250 w-100 vh-100-ns contain bg-center htc" style="opacity:1; background-image:  linear-gradient(to bottom,rgba(0,0,0, 0), rgba(0,0,0, 0)),url({{ $vcl }}/c_scale,w_1600/{{ $pth }});"></div>
      </div>
      <!-- {{ range .Params.project_gallery }}
        <div class="overlay-container">
            <div class="height-250 w-100-s vh-100-ns contain bg-center htc " style="opacity:1; background-image:linear-gradient(to bottom,rgba(0,0,0, 0), rgba(0,0,0, 0)), url({{- . -}});"></div>
        </div>
      {{ end }} -->
    </div>
    <!-- <a href="#" class="white absolute left-2  prev"><svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-left"><polyline points="15 18 9 12 15 6"></polyline></svg></a>
    <a href="#" class="white absolute right-2  next"><svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg></a> -->
    <h1 class="avenir f2 f1-ns fw2 black white-text relative absolute-ns bottom-1 left-2-ns tc pt3-ns mb0 ph2">{{- .Params.title -}}</h1>
</div>
  
  <article class="light-section bg-white page_width">
      <article class="bg-white">
          <div class="pv2 pv5-ns f4 f2-ns measure center tc">
            <div class="avenir db lh-copy black serif fw1 mv0 f3 measure tj center">
                {{- .Content | markdownify -}}
            </div>
            <br>
            <div id="gallery">
                {{ range .Params.project_gallery }}
                  {{ $vcl := "https://res.cloudinary.com/dpoitlxyq/image/upload" }}
                  {{ $pth := . | strings.TrimLeft $vcl }}
                  <a class="dib w-30 thumb" href="{{ $vcl }}/c_scale,w_2000/{{ $pth }}">
                    <img class="cover" src="{{ $vcl }}/c_scale,w_400/{{ $pth }}">
                  </a>
                {{ end }}
                {{ if .Params.youtube_url }}                 
                  <a class="dib w-30 thumb" href="{{- .Params.youtube_url -}}">
                      <img class="cover" src="https://img.youtube.com/vi/{{ .Params.youtube_url | strings.TrimPrefix "https://www.youtube.com/watch?v=" }}/hqdefault.jpg">
                    </a>
                {{ end }}
                {{ if .Params.second_youtube_url }}
                  <a class="dib w-30 thumb" href="{{- .Params.second_youtube_url -}}">
                    <img src="https://img.youtube.com/vi/{{ .Params.second_youtube_url | strings.TrimPrefix "https://www.youtube.com/watch?v=" }}/hqdefault.jpg">
                  </a>
                {{ end }}
                {{ if .Params.third_youtube_url }}
                  <a class="dib w-30 thumb" href="{{- .Params.third_youtube_url -}}">
                      <img src="https://img.youtube.com/vi/{{ .Params.third_youtube_url | strings.TrimPrefix "https://www.youtube.com/watch?v=" }}/hqdefault.jpg">
                    </a>
                {{ end }}
                {{ if .Params.fourth_youtube_url }}
                  <a class="dib w-30 thumb" href="{{- .Params.fourth_youtube_url -}}">
                      <img src="https://img.youtube.com/vi/{{ .Params.fourth_youtube_url | strings.TrimPrefix "https://www.youtube.com/watch?v=" }}/hqdefault.jpg">
                    </a>
                {{ end }}
                {{ if .Params.fifth_youtube_url }}
                  <a class="dib w-30 thumb" href="{{- .Params.fifth_youtube_url -}}">
                      <img src="https://img.youtube.com/vi/{{ .Params.fifth_youtube_url | strings.TrimPrefix "https://www.youtube.com/watch?v=" }}/hqdefault.jpg">
                    </a>
                {{ end }}
              </div> 
          </div>
      </article>
  </article>
{{ end }}