<!DOCTYPE html>
<html lang="{{ $.Site.LanguageCode | default "en" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    {{/* NOTE: the Site's title, and if there is a page title, that is set too */}}
    <title>{{ block "title" . }}{{ .Site.Title }} {{ with .Params.Title }} | {{ . }}{{ end }}{{ end }}</title>
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <link rel="stylesheet" href="/css/lightgallery.min.css">


    <meta name="viewport" content="width=device-width,minimum-scale=1">
    {{ .Hugo.Generator }}

    {{ $stylesheet := .Site.Data.webpack_assets.app }}
    {{ with $stylesheet.css }}
      <link href="{{ relURL (printf "%s%s" "dist/" .) }}" rel="stylesheet">
    {{ end }}

    {{ range .Site.Params.custom_css }}
      <link rel="stylesheet" href="{{ $.Site.BaseURL }}{{ . }}">
    {{ end }}

    {{ block "favicon" . }}
      {{ partial "site-favicon.html" . }}
    {{ end }}

    {{ if .RSSLink }}
      <link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
      <link href="{{ .RSSLink }}" rel="feed" type="application/rss+xml" title="{{ .Site.Title }}" />
    {{ end }}

    {{/* NOTE: These Hugo Internal Templates can be found starting at https://github.com/spf13/hugo/blob/master/tpl/tplimpl/template_embedded.go#L158 */}}
    {{- template "_internal/opengraph.html" . -}}
    {{- template "_internal/google_news.html" . -}}
    {{- template "_internal/schema.html" . -}}
    {{- template "_internal/twitter_cards.html" . -}}



    <meta property="og:image:height" content="447">
    <meta property="og:image:width" content="854">
    <meta property="og:title" content="Carlos Mata Architecture">
    <meta property="og:description" content="Carlos Mata Architecture operates out of the Costa Ballena area, specializing in boutique tropical homes and inspired commercial buildings.">
    <meta property="og:url" content="https://carlosmataarchitecture.com/">
    <meta property="og:image" content="https://carlosmataarchitecture.com/images/og-image.jpg">



    {{ template "_internal/google_analytics_async.html" . }}

    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
    <link rel="manifest" href="/images/site.webmanifest">
    <link rel="mask-icon" href="/images/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/images/favicon.ico">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="msapplication-config" content="/images/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <meta name="google-site-verification" content="DwKCpxc88Q8vBbCdXP8Zke_Lr0CwGz4iCLjSmhhh4us" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slideout/1.0.1/slideout.min.js"></script>
  </head>

  <body class="{{ .Kind }} ma0 {{ $.Param "body_classes"  | default "avenir bg-white"}}{{ with getenv "HUGO_ENV" }} {{ . }}{{ end }} avenir {{ if .IsHome }}home-template{{ end }}">
    
    <main role="main" id="panel">
      {{ block "header" . }}{{ partial "site-header.html" .}}{{ end }}
      {{ partial "side-nav.html" .}}
      {{ block "main" . }}{{ end }}      
    </main>
    <nav id="menu" class="tc">
      <ul class="pl0">
        {{ range .Site.Menus.main }}
          <li class="list fw4 dib ph3-ns v-mid tc">
            <a class="link dim f4 dib mh3 ttu tracked-mega fw1 pv3 avenir black tc" href="{{ .URL }}" title="{{ .Name }} page">
                {{ .Name }}
            </a>
          </li>
        {{ end }}
      </ul>  
    </nav>
    {{ if not .IsHome }}
    {{ block "footer" . }}{{ partial "site-footer.html" . }}{{ end }}
    {{ end }}
    {{ block "scripts" . }}{{ partial "site-scripts.html" . }}{{ end }}
  </body>
</html>
